<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="resources/static/estilos.css">
</head>
<body>
<nav class="barranavegacion">
    <div class="contenedorBarra">
        <a class="" href="#">Biblioteca</a>
        <div class="contenedorMenu" >
            <div class="contenedorItem">
                <a class="" href="/">Inicio</a>
                <a class="" href="/editoriales">Editoriales</a>
                <a class="" href="/libros">Libros</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>